<html>
<head>
	<title>Something wrong occurred!</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Bungee">
	<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Russo+One">
</head>

<body>
	<h1>Sorry, an error has occurred!</h1>
	<h2>
		Try to reload the page to fix this problem.
		If it doesn't work, retry later.
	</h2>
</body>
</html>