<!DOCTYPE html>
<html>
  <head>
    <title>Password Manager</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Password Manager!</h1>
    <p>
      Password manager is a tool which allows you to easily manage
      the passwords from all of your accounts.
      Password manager takes care of your privacy, indeed
      it uses advanced encryption systems to prevent prying eyes
      from seeing your data.
    </p>
    <a href="/login/google">Login with Google</a>
  </body>
</html>
