body {
	align-items: start;
}

.center {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: black;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.bi.bi-box-arrow-left {
	color: white;
	font-size: 2rem;
	cursor: pointer;
}

.bi.bi-box-arrow-left:after {
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #FFF;
	opacity: 0;
	border-radius: 50%;
	z-index: -1;
	transform: translate(-45px, -10px);
	transition: opacity 0.15s ease-out;
}

.bi.bi-box-arrow-left:hover::after {
	opacity: 0.2;
	transition: opacity 0.15s ease-out;
}


.bi.bi-box-arrow-left:active::after {
	opacity: 0.5;
	transition: opacity 0.15s ease-out;
}

.menu-title {
	font-family: "Bungee";
	font-size: 32px;
	color: #0030FF;
	user-select: none;
	text-shadow: none;
}

h2 {
	font-size: 20px;
	vertical-align: middle;
	color: black;
}

#service {
	margin-top: 30px;
}

.eyeBtn::before {
	position: relative;
	color: gray;
	font-size: 1.4rem;
	transition: 0.15s ease-out;
	top: -80%;
	left: 48%;
	cursor: pointer;
}

.eyeBtn:hover::before {
	color: #222;
	transition: 0.15s ease-out;
}

.eyeBtn.reduced::before {
	font-size: 1.2rem;
	left: 8px;
	top: 2px;
}

#submitBtn {
	margin-top: 20px;
}

#logLabel {
	display: block;
	height: 20px;
	margin: 30px 0;
	font-size: 18px;
}

#pwdOptions {
	margin: auto;
}

#labeledCb {
	text-align: center;
	height: 25px;
	padding: 0 20px;
	user-select: none;
}

#labeledCb>input,
#labeledCb label {
	cursor: pointer;
}

#labeledSpinner {
	display: block;
	margin: 30px 0;
}

label[for="lengthSpinner"] {
	vertical-align: middle;
	margin-right: 5px;
}

#lengthSpinner {
	outline: none;
	border: 3px solid #0030FF;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

#generatePwdBtn {
	margin-top: 20px;
}

.header {
	margin-top: 30px;
	position: relative;
	background-color: white;
	border-radius: 30px;
	padding: 40px 80px;
	width: 600px;
	align-items: center;
	justify-content: center;
	display: inline-flex;
	box-shadow: 0 5px 20px #000;
	z-index: 1;
}

.bi.bi-chevron-up {
	position: absolute;
	font-size: 1.5rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: background-color 0.3s, transform 0.4s ease-in-out;
	transform: translateX(330px) rotate(180deg);
	cursor: pointer;
}

.bi.bi-chevron-up:hover {
	background-color: lightgray;
	transition: background-color 0.3s;
	transition: transform 0.4s ease-in-out;
}

.bi.bi-chevron-up:active {
	transition: 0s;
	background-color: gray;
}

.bi.bi-chevron-up.disabled {
	pointer-events: none;
	color: gray;
}

.bi.bi-chevron-up:before {
	transform: translateY(30%);
}

.bi.bi-chevron-up.open {
	transition: transform 0.4s ease-in-out;
	transform: translateX(330px) rotate(0deg);
}

.menu {
	background-color: white;
	width: 600px;
	margin: auto;
	margin-bottom: -40px;
	border-radius: 0 0 30px 30px;
	padding: 40px 80px;
	transform: translateY(-90px) scaleY(0);
	transform-origin: 0 0;
	transition: 0.5s;
	transition-delay: position 0.5s;
	box-shadow: none;
}

.storedPwd {
	margin: auto;
	margin-top: 30px;
	line-height: 1.5;
	width: max-content;
	align-items: center;
	justify-content: right;
	display: flex;
}

.storedPwd h2 {
	font-weight: normal;
}

.copyBtn {
	color: gray;
	transition: 0.15s ease-out;
	cursor: pointer;
	transform: translateX(2px);
}

.copyBtn:hover {
	color: #222;
	transition: 0.15s ease-out;
}

.sp-action {
	cursor: pointer;
	vertical-align: middle;
}

.sp-action::before {
	position: relative;
	z-index: 1;
	margin-left: 2px;
}

.sp-action::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transform: translate(-24px, -1px);
}

.sp-action:hover::after {
	background-color: lightgray;
}

.sp-action:active::after {
	background-color: gray;
}

.bi.bi-check2::before {
	font-size: 1.3rem;
	color: green;
	top: 3px;
	left: 8px;
}

.bi.bi-check2::after {
	transform: translate(-18px, -1px);
}

.bi.bi-x::before {
	font-size: 1.4rem;
	color: red;
	top: 3px;
	left: 8px;
}

.bi.bi-x::after {
	transform: translate(-20px, -1px);
}

.text-field.reduced {
	position: relative;
	width: 50%;
	height: 25px;
	margin: 0;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.text-field.reduced:disabled {
	border-color: gray;
	color: rgb(84, 84, 84);
	transition: border-color 0.3s;
}

.single-account,
.single-pwd {
	display: flex;
	justify-content: center;
}

.single-account h2,
.single-pwd h2 {
	margin-top: 3px;
	height: 25px;
}

.pwd-input-container.reduced {
	display: flex;
	width: 50%;
	height: 25px;
	margin: 0;
	margin-left: 5px;
	padding-left: 10px;
}

.pwd-field.reduced {
	margin-right: 5px;
}

.actions {
	position: absolute;
	right: 80px;
	user-select: none;
}

.editing {
	position: relative;
}

.show {
	display: block;
	transform: translateY(-40px) scaleY(1);
	box-shadow: 5px 5px 30px #000;
	transition: 0.5s;
}

.removed {
	display: none;
}