* {
  margin: 0;
  font-family: "Russo One";
  font-size: 18px;
}

body {
  display: block;
  background: linear-gradient(90deg, #0030FF 0%, #10AAFF 100%);
  color: black;
  text-align: center;
}

h1 {
  font-family: "Bungee";
  font-size: 32px;
  color: #0030FF;
  user-select: none;
}

.text-field {
  margin: auto;
  appearance: none;
  border: 3px solid #0030FF;
  border-radius: 15px;
  width: 70%;
  height: 35px;
  padding: 2px 15px 2px 15px;
  margin-top: 40px;
  background-color: transparent;
  color: black;
  outline: none;
}

.pwd-input-container {
  margin: auto;
  border: 3px solid #0030FF;
  border-radius: 15px;
  width: 70%;
  height: 35px;
  padding: 2px 15px 2px 15px;
  margin-top: 10px;
  background-color: transparent;
}

.pwd-field {
  appearance: none;
  border: none;
  padding: 0;
  outline: none;
  margin: auto;
  height: 100%;
  width: 100%;
}

#eyeBtn::before {
  position: absolute;
  color: gray;
  font-size: 1.4rem;
  transition: 0.15s ease-out;
  transform: translate(-70%, 25%);
  cursor: pointer;
}

#eyeBtn:hover::before {
  color: #222;
  transition: 0.15s ease-out;
}

input[type="submit"], input[type="button"] {
  display: block;
  margin: auto;
  border-radius: 20px;
  width: 55%;
  height: 45px;
  background: linear-gradient(90deg, #0030FF 0%, #10AAFF 50%, #0030FF 100%);
  background-size: 200% 100%;
  background-position: 0% 50%;
  border: none;
  color: white;
  transition: background-position 0.1s ease-in;
  padding: 0;
  cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
  transition: background-position 0.1s ease-in;
  background-position: 100% 50%;
}

input[type="button"]:active, input[type="submit"]:active {
  box-shadow: 0px 0px 30px #00A inset;
}

#submitBtn {
  margin-top: 20px;
}

#logLabel {
  display: block;
  height: 20px;
  margin: 30px 0;
  font-size: 16px;
}

#pwdOptions {
  margin: auto;
}

#labeledCb {
  text-align: center;
  height: 25px;
  padding: 0 20px;
  user-select: none;
}

#labeledCb > input, #labeledCb label {
  cursor: pointer;
}

#labeledSpinner {
  display: block;
  margin: 30px 0;
}

label[for="lengthSpinner"] {
  vertical-align: middle;
  margin-right: 5px;
}

#lengthSpinner {
  outline: none;
  border: 3px solid #0030FF;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

#generatePwdBtn {
  margin-top: 20px;
}

.header {
  position: relative;
  margin-top: 50px;
  background-color: white;
  border-radius: 30px;
  padding: 40px 80px;
  width: 600px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  box-shadow: 0 5px 20px #000;
  z-index: 1;
}

.bi.bi-chevron-up {
  position: absolute;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s;
  transform: translateX(330px) rotate(180deg);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.bi.bi-chevron-up:before {
  transform: translateY(30%);
}

.bi.bi-chevron-up:hover {
  background-color: lightgray;
  transition: background-color 0.3s;
  transition: transform 0.4s ease-in-out;
}

.bi.bi-chevron-up:active {
  transition: 0s;
  background-color: gray;
}

.bi.bi-chevron-up.open {
  transition: transform 0.4s ease-in-out;
  transform: translateX(330px) rotate(0deg);
}

.menu {
  background-color: white;
  width: 600px;
  margin: auto;
  border-radius: 0 0 30px 30px;
  padding: 40px 80px;
  transform: translateY(-90px) scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s;
  transition-delay: position 0.5s;
  box-shadow: none;
}

.show {
  display: block;
  transform: translateY(-40px) scaleY(1);
  box-shadow: 5px 5px 30px #000;
  transition: 0.5s;
}

.storedPwd {
  margin-top: 30px;
  line-height: 1.5;
}

h2 {
  font-size: 20px;
}